<!-- Modal Edit Details -->
<div class="modal fade" id="editModal<%= index %>" tabindex="-1" role="dialog" aria-labelledby="editModalLabel<%= index %>" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title m-auto" id="editModalLabel<%= index %>"><%= inventory.trackingNumber %> | <%= inventory.parcelNumber %></h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">

          </button>
        </div>
        <div class="modal-body container col-md-12">
          <form class="form" action="/editTc" method="post">

            <div class="form-group mx-sm-3 mb-2">
              <h4>Name:</h4>
              <p><%= inventory.name %></p>
            </div>

            <div class="form-group mx-sm-3 mb-2">
              <label for="editAddress">Contact</label>
              <input type="text" class="form-control" id="editAddress<%= index %>" name="address" value="<%= inventory.contact %>">
            </div>

            <div class="form-group mx-sm-3 mb-2">
              <label for="editContact">Address</label>
              <input type="text" class="form-control" id="editContact<%= index %>" name="contact" value="<%= inventory.address %>">
            </div>

            <div class="form-group mx-sm-3 mb-2">
              <label for="editArea">Area</label>
              <input type="text" class="form-control" id="editArea<%= index %>" name="area" value="<%= inventory.area %>">
            </div>

            <div class="form-group mx-sm-3 mb-2">
              <label for="editLocation">Location</label>
              <input type="text" class="form-control" id="editLocation<%= index %>" name="areaIndicator" value="<%= inventory.areaIndicator %>">
            </div>
        </div>

        <div class="modal-footer">
          <input type="text" class="form-control" name="username" value="<%= name %>" hidden>
          <input type="text" class="form-control" name="userID" value="<%= icNumber %>" hidden>
          <input type="text" class="form-control" name="userPos" value="<%= position %>" hidden>
          <input type="text" class="form-control" name="formMETHOD" value="editTC" hidden>
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary"><i class="far fa-save"></i></button>
        </div>

      </form>

      </div>
    </div>
  </div>
