
<!DOCTYPE html><!-- This site was created in Webflow. http://www.webflow.com -->
<!-- Last Published: Sat May 14 2022 02:45:39 GMT+0000 (Coordinated Universal Time) -->
  
    <% if(position == "AD"){%>
      <%- include('partials/admin/head.ejs') %>
    <%}%>
    <% if(position == "CS"){%>
      <%- include('partials/cs/head.ejs') %>
    <%}%>
    <% if(position == "TC"){%>
      <%- include('partials/tc/head.ejs') %>
    <%}%>
    <% if(position == "WS"){%>
      <%- include('partials/ws/head.ejs') %>
    <%}%>
    <% if(position == "MW"){%>
      <%- include('partials/mw/head.ejs') %>
    <%}%>
    <% if(position == "FIN"){%>
      <%- include('partials/fin/head.ejs') %>
    <%}%>

  <body class="body-3">
    <% if(position == "AD"){%>
      <%- include('partials/admin/nav.ejs') %>
      <%- include('partials/admin/body.ejs') %>
    <%}%>
    <% if(position == "CS"){%>
      <%- include('partials/cs/nav.ejs') %>
      <%- include('partials/cs/body.ejs') %>
    <%}%>
    <% if(position == "TC"){%>
      <%- include('partials/tc/nav.ejs') %>
      <%- include('partials/tc/body.ejs') %>
    <%}%>
    <% if(position == "WS"){%>
      <%- include('partials/ws/nav.ejs') %>
      <%- include('partials/ws/body.ejs') %>
    <%}%>
    <% if(position == "MW"){%>
      <%- include('partials/mw/nav.ejs') %>
      <%- include('partials/mw/body.ejs') %>
      <%}%>
    <% if(position == "FIN"){%>
      <%- include('partials/fin/nav.ejs') %>
      <%- include('partials/fin/body.ejs') %>
    <%}%>
    
  </body>
</html>
