
<!DOCTYPE html><!-- This site was created in Webflow. http://www.webflow.com -->
<!-- Last Published: Sat May 07 2022 05:51:06 GMT+0000 (Coordinated Universal Time) -->
<html data-wf-domain="gorushwms.webflow.io" data-wf-page="624542e8ac27f128e0507387" data-wf-site="61fb4a164eca130338cafeaa" data-wf-status="1">
  <head>
    <meta charset="utf-8" />
    <title>Item List</title>
    <meta content="Item List" property="og:title" />
    <meta content="Item List" property="twitter:title" />
    <meta content="width=device-width, initial-scale=1" name="viewport" />
    <meta content="Webflow" name="generator" />
    <link href="https://uploads-ssl.webflow.com/61fb4a164eca130338cafeaa/css/gorushwms.webflow.4f9ad38d1.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer" />

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    
    <script src="https://ajax.googleapis.com/ajax/libs/webfont/1.6.26/webfont.js" type="text/javascript"></script>
    <script type="text/javascript">
      WebFont.load({
        google: {
          families: ["Poppins:100,200,300,regular,500,600,700,800,900"]
        }
      });
    </script>
    <!--[if lt IE 9]><script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js" type="text/javascript"></script><![endif]-->
    <script type="text/javascript">
      ! function(o, c) {
        var n = c.documentElement,
          t = " w-mod-";
        n.className += t + "js", ("ontouchstart" in o || o.DocumentTouch && c instanceof DocumentTouch) && (n.className += t + "touch")
      }(window, document);
    </script>
    <link href="https://uploads-ssl.webflow.com/img/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <link href="https://uploads-ssl.webflow.com/img/webclip.png" rel="apple-touch-icon" />
    <script>
      window.onload = function() {
        var anchors = document.getElementsByTagName('*');
        for (var i = 0; i < anchors.length; i++) {
          var anchor = anchors[i];
          anchor.onclick = function() {
            code = this.getAttribute('whenClicked');
            eval(code);
          }
        }
      }
    </script>
    

    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <link rel="stylesheet" href="/resources/demos/style.css">

    <style id="table_style" type="text/css">
      .tableFixHead {
        overflow-y: auto;
        height: 1000px;
      }

      .tableFixHead table {
        border-collapse: collapse;
        width: 100%;
        font-family: Arial;
        font-size: 10pt;
        margin: auto;
        text-align: center; 
        vertical-align: middle;
        
      }

      .tableFixHead th,
      .tableFixHead td {
        padding: 8px 16px;
        text-align: center;
        border: 1px solid black;
      }


      .tableFixHead th {
        position: sticky;
        top: 0;
        background: #eee;
      }
  </style>
  </head>

  <body class="body">
    <div class="section wf-section">
      <div class="w-container"><a whenClicked="history.back()" href="#" class="button-8 w-button">&lt; Go Back</a>
        <h1 id="w-node-_5c40cdcd-743f-e2a9-4ca2-eec7aae7df1c-e0507387" class="heading-2">Item List</h1>
        <div class="w-layout-grid grid-13">
          <div id="w-node-_98941c06-b2e3-f98f-daa2-2b3ecd956930-e0507387" class="w-embed">
            <form action="/searchDetails" method="post">
              <input type="text" id="myInput" class="text-field-2 w-input" maxlength="256" name="search" placeholder="Search Tracking Number">
              <button class="btn btn-primary dropdown-toggle m-1" type="submit"><i class="fas fa-search"></i></button>
            </form>
            <!--<input type="text" id="myInput" class="text-field-2 w-input" onkeyup="myFunction()" maxlength="256" name="myInput" placeholder="Search here">-->
          </div>
        </div>
        <div class="w-layout-grid grid-10"><a id="w-node-edbc0ce3-edad-3629-780e-0db1d3820401-e0507387" href="#" class="w-button">Zalora</a><a id="w-node-ee94996b-89a1-acc0-7331-9d9d68337d13-e0507387" href="#" class="w-button">MOH</a><a id="w-node-_8996e896-2009-15bc-dd18-e199c6f0b452-e0507387" href="#" class="w-button">JPMC</a><a id="w-node-_8444249a-9dd6-92e5-d7a7-d6833cd42d72-e0507387" href="#" class="w-button">PHC</a><a id="w-node-_618b0e32-fef2-7e93-4f94-cf8fc4e1bcfa-e0507387" href="#" class="w-button">GRP MY</a><a id="w-node-_8e77703e-ec4a-cf4b-e889-a6be17219d51-e0507387" href="#" class="w-button">GRP SG</a><a id="w-node-_7f31fc29-c111-f2a8-fcbd-ce746c7cc16f-e0507387" href="#" class="w-button">GRP CN</a></div>
      </div>

    <div class="wf-section">
      <div class="div-block-11">
        <div class="dropdown">
          <button class="btn btn-primary dropdown-toggle m-1" type="button" data-toggle="dropdown">Show<span class="caret"></span></button>
            <ul class="dropdown-menu">
              <li><a href="/list/<%=product%>/<%=area%>/<%=pages%>/25">25</a></li>
              <li><a href="/list/<%=product%>/<%=area%>/<%=pages%>/50">50</a></li>
              <li><a href="/list/<%=product%>/<%=area%>/<%=pages%>/75">75</a></li>
              <li><a href="/list/<%=product%>/<%=area%>/<%=pages%>/100">100</a></li>
            </ul>
        </div>

        <div class="dropdown">
          <button class="btn btn-primary dropdown-toggle m-1" type="button" data-toggle="dropdown">Area<span class="caret"></span></button>
            <ul class="dropdown-menu">
              <li><a href="/list/<%=product%>/B1/<%=pages%>/10">B1</a></li>
              <li><a href="/list/<%=product%>/B2/<%=pages%>/10">B2</a></li>
              <li><a href="/list/<%=product%>/G1/<%=pages%>/10">G1</a></li>
              <li><a href="/list/<%=product%>/G2/<%=pages%>/10">G2</a></li>
              <li><a href="/list/<%=product%>/JT1/<%=pages%>/10">JT1</a></li>
              <li><a href="/list/<%=product%>/JT2/<%=pages%>/10">JT2</a></li>
              <li><a href="/list/<%=product%>/JT3/<%=pages%>/10">JT3</a></li>
              <li><a href="/list/<%=product%>/TUTONG/<%=pages%>/10">TUTONG</a></li>
              <li><a href="/list/<%=product%>/KB/<%=pages%>/10">KB</a></li>
              <li><a href="/list/<%=product%>/SERIA/<%=pages%>/10">SERIA</a></li>
              <li><a href="/list/<%=product%>/LUMUT/<%=pages%>/10">LUMUT</a></li>
              <li><a href="/list/<%=product%>/KB%20%2F%20SERIA/<%=pages%>/10">KB / SERIA</a></li>
              <li><a href="/list/<%=product%>/TEMBURONG/10">TEMBURONG</a></li>
              <li><a href="/list/<%=product%>/<%=area%>/<%=pages%>/10"></a></li>
            </ul>
            <%=limit%> of <%= total %>
        </div>
        <div id="w-node-d754e2f5-aed1-3892-5daf-5f26d402a898-e0507387" class="html-embed w-embed tableFixHead">
          <table id="myTable" class="table table-striped table-hover">
            <thead>
              <tr>
                <th scope="col">Tracking Number</th>
                <th scope="col">P/N</th>
                <th scope="col">Area</th>
                <th scope="col">Location</th>
                <th scope="col">Name</th>
                <th scope="col">Address</th>
                <th scope="col">Status</th>
                <th scope="col">Warehouse Remark</th>
                <th scope="col">Expire Date</th>
                <th scope="col">Ageing</th>
               <!-- <th></th> --> 
              </tr>
            </thead>

            <!-- Limit -->
            <tbody>
              <!--Render List-->
              <%itemList.forEach((inventory,index)=> {%>

                <!--Modal Details Here-->
                <div class="modal fade" id="tnModal<%= index %>" tabindex="-1" role="dialog" aria-labelledby="tnModalLabel<%= index %>" aria-hidden="true">
                  <div class="modal-dialog modal-lg" role="document">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h5 class="modal-title m-auto" id="tnModalLabel<%= index %>"><%= inventory.trackingNumber %> | <%= inventory.parcelNumber %></h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"></button>
                      </div>
                
                      <div class="modal-body container col-md-12">
                        <div class="row">
                            <div class="col-md-4 mx-auto">
                              <h4>Name:</h4>
                              <p><%= inventory.name %></p>
                              <h4>Contact:</h4>
                              <p><%= inventory.contact %></p>
                              <h4>Address:</h4>
                              <p><%= inventory.address %></p>
                              <h4>Product:</h4>
                              <p><%= inventory.product %></p>
                            </div>
            
                            <div class="col-md-6 mx-auto">
                              <h4>Parcel History:</h4>
                              <% for(var i = 0 ; i < inventory.history.length; i++) {%>
                                <ul>
                                  <li><%= inventory.history[i].statusDetail %></li>
                                    <ul>
                                      <li><b>Updated on:</b> &nbsp;<%= inventory.history[i].dateUpdated %></li>
                                    </ul>
                                </ul>
                              <% } %>
                            </div>
                            
                            <div class="col-md-2 mx-auto">
                              <h3 class="my-auto">Value: $<%= inventory.value %></h3>
                              <h3>Area: </h3>
                              <h3><%= inventory.area %></h3>
                              <h3>Location: </h3>
                              <h3><%= inventory.areaIndicator %></h3>
                            </div>
                        </div>
                    </div>

                    <div class="modal-footer">
                      <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    </div>
              
                  </div>
                </div>
              </div>
                
              <!-- Modal Edit Details -->
              <div class="modal fade" id="editModal<%= index %>" tabindex="-1" role="dialog" aria-labelledby="editModalLabel<%= index %>" aria-hidden="true">
                <div class="modal-dialog modal-lg" role="document">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title m-auto" id="editModalLabel<%= index %>"><%= inventory.trackingNumber %> | <%= inventory.parcelNumber %></h5>
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">

                      </button>
                    </div>
                    <div class="modal-body container col-md-12">
                      <form class="form" action="/editTc" method="post">

                        <div class="form-group mx-sm-3 mb-2">
                          <h4>Name:</h4>
                          <p><%= inventory.name %></p>
                        </div>

                        <div class="form-group mx-sm-3 mb-2">
                          <label for="editContact">Contact</label>
                          <input type="text" class="form-control" id="editContact<%= index %>" name="address" value="<%= inventory.contact %>">
                        </div>

                        <div class="form-group mx-sm-3 mb-2">
                          <label for="editAddress">Address</label>
                          <input type="text" class="form-control" id="editAddress<%= index %>" name="contact" value="<%= inventory.address %>">
                        </div>

                        <div class="form-group mx-sm-3 mb-2">
                          <label for="editArea">Area</label>
                          <input type="text" class="form-control" id="editArea<%= index %>" name="area" value="<%= inventory.area %>">
                        </div>

                        <div class="form-group mx-sm-3 mb-2">
                          <label for="editLocation">Location</label>
                          <input type="text" class="form-control" id="editLocation<%= index %>" name="areaIndicator" value="<%= inventory.areaIndicator %>">
                        </div>
                    </div>

                      <input type="text" name="username" value="<%= name %>" hidden>
                      <input type="text" name="userID" value="<%= icNumber %>" hidden>
                      <input type="text" name="userPos" value="<%= position %>" hidden>
                      <input type="text" name="formMETHOD" value="editTC" hidden>

                    <div class="modal-footer">
                      <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                      <button type="button" class="btn btn-primary"><i class="far fa-save"></i></button>
                    </div>

                  </form>

                  </div>
                </div>
              </div>

            <!--Render List-->
              <tr class="content">
                <td scope="row" class="trackingNum"><button type="button" class="btn btn-primary" data-toggle="modal" data-target="#tnModal<%= index %>">
                  <%= inventory.trackingNumber %>
                </button></td>
                <td><span><%= inventory.parcelNumber %></span></td>
                <td><span><%= inventory.area %></span></td>
                <td><span><%= inventory.areaIndicator %></span></td>
                <td><span><%= inventory.name %></span></td>
                <td><span><%= inventory.address %></span></td>
                <td class="itemStatus"><span><%= inventory.status %></span></td>
                <td><span><%= inventory.note %></span></td>
                <td class="expire"><span><%= moment(inventory.expireDate).format("DD/MM/YYYY, h:mm:ss a") %></span></td>
                <td><span id="days<%=index%>">
                  <% function dateDiff() { 
                      let todate = Date.parse(moment().format())
                      let expire = Date.parse(inventory.expireDate)
                      let days = Math.round((expire - todate) / (60 * 60 * 24 * 1000))
                      if (days <= 0){
                        days = "Expired Task"
                      }
                      else{
                        days = days + " Days"
                      }
                      return days
                    }
                  %>
                <%= dateDiff() %></span></td>
                <!--<td>
                  <button type="button" class="btn btn-info p-1" data-toggle="modal" data-target="#editModal<%= index %>">
                    <i class="far fa-edit"></i>
                  </button>
                </td> -->
              </tr>
            <%})%>
          
          </tbody>

          </table>
          <%- include('partials/pagination.ejs') %>
        </div>
      </div>
    </div>

      <!--Pagination-->
    

    </div>
   
    <script src="https://d3e54v103j8qbb.cloudfront.net/js/jquery-3.5.1.min.dc5e7f18c8.js?site=61fb4a164eca130338cafeaa" type="text/javascript" integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>
    <script src="https://uploads-ssl.webflow.com/61fb4a164eca130338cafeaa/js/webflow.6bf708a19.js" type="text/javascript"></script>
    <!--[if lte IE 9]><script src="//cdnjs.cloudflare.com/ajax/libs/placeholders/3.0.2/placeholders.min.js"></script><![endif]-->
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.11.5/css/jquery.dataTables.css">
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.11.5/js/jquery.dataTables.js"></script>

    <script>
      function sortTable(table, col, reverse) {
        var tb = table.tBodies[0], // use `<tbody>` to ignore `<thead>` and `<tfoot>` rows
          tr = Array.prototype.slice.call(tb.rows, 0), // put rows into array
          i;
        reverse = -((+reverse) || -1);
        tr = tr.sort(function(a, b) { // sort rows
          return reverse // `-1 *` if want opposite order
            *
            (a.cells[col].textContent.trim() // using `.textContent.trim()` for test
              .localeCompare(b.cells[col].textContent.trim())
            );
        });
        for (i = 0; i < tr.length; ++i) tb.appendChild(tr[i]); // append each row in order
      }

      function makeSortable(table) {
        var th = table.tHead,
          i;
        th && (th = th.rows[0]) && (th = th.cells);
        if (th) i = th.length;
        else return; // if no `<thead>` then do nothing
        while (--i >= 0)(function(i) {
          var dir = 1;
          th[i].addEventListener('click', function() {
            sortTable(table, i, (dir = 1 - dir))
          });
        }(i));
      }

      function makeAllSortable(parent) {
        parent = parent || document.body;
        var t = parent.getElementsByTagName('table'),
          i = t.length;
        while (--i >= 0) makeSortable(t[i]);
      }
      window.onload = function() {
        makeAllSortable()
      };
    </script>

    <script src="https://d3e54v103j8qbb.cloudfront.net/js/jquery-3.5.1.min.dc5e7f18c8.js?site=61fb4a164eca130338cafeaa" type="text/javascript" integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>
    <script src="https://uploads-ssl.webflow.com/61fb4a164eca130338cafeaa/js/webflow.22615f19c.js" type="text/javascript"></script>
    <!--[if lte IE 9]><script src="//cdnjs.cloudflare.com/ajax/libs/placeholders/3.0.2/placeholders.min.js"></script><![endif]-->
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.11.5/css/jquery.dataTables.css">
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.11.5/js/jquery.dataTables.js"></script>

    <script>
      let countItem = document.getElementsByClassName("expire").length;

      for (let i = 0; i < countItem; i++) {
        var itemStatusCheck = 0;
        var tookanCheck = 0;
        var itemTN = document.getElementsByClassName("trackingNum")[i].innerText;

        if (document.getElementsByClassName("itemStatus")[i].innerText.includes("SELF") == true) {
          document.getElementsByClassName("content")[i].style.backgroundColor = "#87CEFA";
          document.getElementsByClassName("days")[i].innerText = "Task Completed";
          tookanCheck = 1;
          itemStatusCheck = 1;
        }

        if (tookanCheck == 0) {
          var request = new XMLHttpRequest();
          request.open('POST', 'https://api.tookanapp.com/v2/get_job_details');
          request.setRequestHeader('Content-Type', 'application/json');

          request.onreadystatechange = function() {
            if (this.readyState === 4) {
              console.log('Status:', this.status);
              console.log('Headers:', this.getAllResponseHeaders());
              console.log('Body:', this.responseText);

              responsejd = this.responseText;
              json_responsejd = JSON.parse(responsejd);

              if (json_responsejd.data[0].job_status == 2) {
                document.getElementsByClassName("days")[i].innerText = "Task Completed";
                document.getElementsByClassName("content")[i].style.backgroundColor = "#66CDAA";

                itemStatusCheck = 1;
              }
              tookanCheck = 1;
            }
          };

          var body = {
            'api_key': '51676580f24b091114132d38111925401ee4c2f328d978375e1f03',
            'job_ids': [
              itemTN
            ],
            'include_task_history': 0
          };

          request.send(JSON.stringify(body));
        }

        if (itemStatusCheck == 0) {
          var itemAge = Math.round((Date.parse(document.getElementsByClassName("expire")[i].innerText) - Date.parse(new Date())) / (60 * 60 * 24 * 1000));

          if (itemAge <= 0) {
            document.getElementsByClassName("days")[i].innerText = "Expired";
            document.getElementsByClassName("content")[i].style.color = "#9932CC";

          }

          if (itemAge > 0) {
            document.getElementsByClassName("days")[i].innerText = itemAge + "|Days";

            if (document.getElementsByClassName("itemStatus")[i].innerText.includes("WAREHOUSE") == true) {
              if ((itemAge <= 14) && (itemAge >= 10)) {
                document.getElementsByClassName("content")[i].style.backgroundColor = "#FFFF00";
              }

              if ((itemAge <= 9) && (itemAge >= 5)) {
                document.getElementsByClassName("content")[i].style.backgroundColor = "#FF8C00";
              }

              if ((itemAge <= 4) && (itemAge >= 3)) {
                document.getElementsByClassName("content")[i].style.backgroundColor = "#FF0000";
              }

              if ((itemAge <= 2) && (itemAge >= 1)) {
                document.getElementsByClassName("days")[i].innerText = itemAge + "|Day";
                document.getElementsByClassName("content")[i].style.backgroundColor = "#9932CC";
              }
            }
          }
        }
      }
    </script>

    <script>
      const myFunction = () => {
        const trs = document.querySelectorAll('#myTable tr:not(.header)')
        const filter = document.querySelector('#myInput').value
        const regex = new RegExp(filter, 'i')
        const isFoundInTds = td => regex.test(td.innerHTML)
        const isFound = childrenArr => childrenArr.some(isFoundInTds)
        const setTrStyleDisplay = ({
          style,
          children
        }) => {
          style.display = isFound([
            ...children // <-- All columns
          ]) ? '' : 'none'
        }
        trs.forEach(setTrStyleDisplay)
      }
    </script>

    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
  </body>
</html>
