<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>Add to Cart Interaction Example</title>
  <link rel="stylesheet" href="./css/style.css">

</head>
<body>
<!-- partial:index.partial.html -->
<link href='https://fonts.googleapis.com/css?family=Open+Sans:400,600,700' rel='stylesheet' type='text/css'>
<div id="wrapper">
<div class="cart-icon-top">
</div>

<div class="cart-icon-bottom">
</div>

<div id="checkout">
	CHECKOUT
</div>

<div id="info">
	<p class="i1">Add to cart interaction prototype by Virgil Pana</p>
<p>    Follow me on <a href="https://dribbble.com/virgilpana" style="color:#ea4c89" target="_blank">Dribbble</a> | <a style="color:#2aa9e0" href="https://twitter.com/virgil_pana" target="_blank">Twitter</a></p>
</div>

<div id="header">	
	<ul>
        <li><a href="">Home</a></li>
        <li><a href="">BRANDS</a></li>
        <li><a href="">DESIGNERS</a></li>
        <li><a href="">CONTACT</a></li>                                              
    </ul>		
</div>

<div id="sidebar">
	<h3>CART</h3>
    <div id="cart">
    	<span class="empty">No items in cart.</span>       
    </div>
</div>


<div id="grid">
    <%itemList.forEach(inventory=> {%>
    <div class="product">
        <div class="make3D">
            <div class="product-front">
                <div class="shadow"></div>
                <img id="productImage" src="" alt="" />
                <div class="image_overlay"></div>
                <div class="add_to_cart">Add to List</div>       
                <div class="stats">        	
                    <div class="stats-container">
                        <span class="product_price"><%= inventory.value %></span>
                        <span class="product_name"><%= inventory.trackingNumber %></span>    
                        <p><%= inventory.name %></p>
                        <p><%= inventory.address %></p>    
                        <p><%= inventory.contact %></p>    
                        <p id = "product"><%= inventory.product %></p>                                                
                        <div class="product-options">
                    </div>                       
                    </div>                         
                </div>
            </div>
        </div>	
    </div>
    <%})%>
</div>

    
    

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
<!-- partial -->
  <script  src="./js/script.js"></script>
  <script>
      let product = document.getElementById("product")
      if (product = "ZALORA"){
        document.getElementById("productImage").src = "./img/zal.jpg"
      }
  </script>

</body>
</html>
