<div data-collapse="small" data-animation="default" data-duration="400" data-easing="ease" data-easing2="ease" role="banner" class="c-sidenavbar w-nav">
    <div data-w-id="1aa22747-862d-1c91-658e-c3acf7e122cc" class="c-sidenavbar-container w-container">
      <div class="c-menu-controls">
        <div class="c-menu-btn w-nav-button">
          <div class="w-icon-nav-menu"></div>
        </div>
      </div>
      <nav role="navigation" class="c-side-navmenu w-nav-menu">
        <div class="ci-side-navlinks">
          <div class="c-side-navlink">
            <div data-hover="false" data-delay="0" class="w-dropdown">
              <div class="dropdown-toggle w-dropdown-toggle">
                <div class="icon-8 w-icon-dropdown-toggle"></div>
                <div class="_w-navlinks">
                  <div class="c-navlink-icon"><img src="https://uploads-ssl.webflow.com/61fb4a164eca130338cafeaa/6269f5eebd2492591f7bf040_item%20list.png" loading="lazy" width="36" alt="" /></div>
                  <div class="c-navlink-text">
                    <div data-w-id="1aa22747-862d-1c91-658e-c3acf7e122da" class="_w-navlink-text">
                      <div data-w-id="1aa22747-862d-1c91-658e-c3acf7e122db" class="navlink-text">Item List</div>
                    </div>
                  </div>
                </div>
              </div>
              <nav class="dropdown-list-5 w-dropdown-list"><a href="/list/ZALORA/B1/1/10" class="c-navlinks w-inline-block">
                  <div class="_w-navlinks">
                    <div class="c-navlink-text">
                      <div data-w-id="1aa22747-862d-1c91-658e-c3acf7e122e1" class="_w-navlink-text">
                        <div data-w-id="1aa22747-862d-1c91-658e-c3acf7e122e2" class="navlink-text">ZALORA</div>
                      </div>
                    </div>
                  </div>
                </a><a href="/list/PHARMACY/B1/1/10" class="c-navlinks w-inline-block">
                  <div class="_w-navlinks">
                    <div class="c-navlink-text">
                      <div data-w-id="1aa22747-862d-1c91-658e-c3acf7e122e7" class="_w-navlink-text">
                        <div data-w-id="1aa22747-862d-1c91-658e-c3acf7e122e8" class="navlink-text">PHARMACY</div>
                      </div>
                    </div>
                  </div>
                </a><a href="/list/GRP/B1/1/10" class="c-navlinks w-inline-block">
                  <div class="_w-navlinks">
                    <div class="c-navlink-text">
                      <div data-w-id="1aa22747-862d-1c91-658e-c3acf7e122ed" class="_w-navlink-text">
                        <div data-w-id="1aa22747-862d-1c91-658e-c3acf7e122ee" class="navlink-text">GRP</div>
                      </div>
                    </div>
                  </div>
                </a></nav>
            </div>
          </div>
          <div class="c-side-navlink">
            <div data-hover="false" data-delay="0" class="w-dropdown">
              <div class="dropdown-toggle w-dropdown-toggle">
                <div class="icon-8 w-icon-dropdown-toggle"></div>
                <div class="_w-navlinks">
                  <div class="c-navlink-icon"><img src="https://uploads-ssl.webflow.com/61fb4a164eca130338cafeaa/6269f61805e04e6bfa1a8722_pod.png" loading="lazy" width="36" alt="" /></div>
                  <div class="c-navlink-text">
                    <div data-w-id="1aa22747-862d-1c91-658e-c3acf7e122f8" class="_w-navlink-text">
                      <div data-w-id="1aa22747-862d-1c91-658e-c3acf7e122f9" class="navlink-text">POD List</div>
                    </div>
                  </div>
                </div>
              </div>
              <nav class="dropdown-list-5 w-dropdown-list">
                <div data-hover="false" data-delay="0" class="w-dropdown">
                  <div class="dropdown-toggle w-dropdown-toggle">
                    <div class="icon-8 w-icon-dropdown-toggle"></div>
                    <div class="_w-navlinks">
                      <div class="c-navlink-text">
                        <div data-w-id="1aa22747-862d-1c91-658e-c3acf7e12301" class="_w-navlink-text">
                          <div data-w-id="1aa22747-862d-1c91-658e-c3acf7e12302" class="navlink-text">Area</div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <nav class="dropdown-list-5 w-dropdown-list"><a href="/podlist/B1/1/10" class="c-navlinks w-inline-block">
                      <div class="_w-navlinks">
                        <div class="c-navlink-text">
                          <div data-w-id="1aa22747-862d-1c91-658e-c3acf7e12308" class="_w-navlink-text">
                            <div data-w-id="1aa22747-862d-1c91-658e-c3acf7e12309" class="navlink-text">B1</div>
                          </div>
                        </div>
                      </div>
                    </a><a href="/podlist/B2/1/10" class="c-navlinks w-inline-block">
                      <div class="_w-navlinks">
                        <div class="c-navlink-text">
                          <div data-w-id="1aa22747-862d-1c91-658e-c3acf7e1230e" class="_w-navlink-text">
                            <div data-w-id="1aa22747-862d-1c91-658e-c3acf7e1230f" class="navlink-text">B2</div>
                          </div>
                        </div>
                      </div>
                    </a><a href="/podlist/G1/1/10" class="c-navlinks w-inline-block">
                      <div class="_w-navlinks">
                        <div class="c-navlink-text">
                          <div data-w-id="1aa22747-862d-1c91-658e-c3acf7e12314" class="_w-navlink-text">
                            <div data-w-id="1aa22747-862d-1c91-658e-c3acf7e12315" class="navlink-text">G1</div>
                          </div>
                        </div>
                      </div>
                    </a><a href="/podlist/G2/1/10" class="c-navlinks w-inline-block">
                      <div class="_w-navlinks">
                        <div class="c-navlink-text">
                          <div data-w-id="1aa22747-862d-1c91-658e-c3acf7e1231a" class="_w-navlink-text">
                            <div data-w-id="1aa22747-862d-1c91-658e-c3acf7e1231b" class="navlink-text">G2</div>
                          </div>
                        </div>
                      </div>
                    </a><a href="/podlist/JT1/1/10" class="c-navlinks w-inline-block">
                      <div class="_w-navlinks">
                        <div class="c-navlink-text">
                          <div data-w-id="1aa22747-862d-1c91-658e-c3acf7e12320" class="_w-navlink-text">
                            <div data-w-id="1aa22747-862d-1c91-658e-c3acf7e12321" class="navlink-text">JT1</div>
                          </div>
                        </div>
                      </div>
                    </a><a href="/podlist/JT2/1/10" class="c-navlinks w-inline-block">
                      <div class="_w-navlinks">
                        <div class="c-navlink-text">
                          <div data-w-id="1aa22747-862d-1c91-658e-c3acf7e12326" class="_w-navlink-text">
                            <div data-w-id="1aa22747-862d-1c91-658e-c3acf7e12327" class="navlink-text">JT2</div>
                          </div>
                        </div>
                      </div>
                    </a><a href="/podlist/JT3/1/10" class="c-navlinks w-inline-block">
                      <div class="_w-navlinks">
                        <div class="c-navlink-text">
                          <div data-w-id="1aa22747-862d-1c91-658e-c3acf7e1232c" class="_w-navlink-text">
                            <div data-w-id="1aa22747-862d-1c91-658e-c3acf7e1232d" class="navlink-text">JT3</div>
                          </div>
                        </div>
                      </div>
                    </a><a href="/podlist/TTG/1/10" class="c-navlinks w-inline-block">
                      <div class="_w-navlinks">
                        <div class="c-navlink-text">
                          <div data-w-id="1aa22747-862d-1c91-658e-c3acf7e12332" class="_w-navlink-text">
                            <div data-w-id="1aa22747-862d-1c91-658e-c3acf7e12333" class="navlink-text">TUTONG</div>
                          </div>
                        </div>
                      </div>
                    </a><a href="/podlist/KBSERIA/1/10" class="c-navlinks w-inline-block">
                      <div class="_w-navlinks">
                        <div class="c-navlink-text">
                          <div data-w-id="1aa22747-862d-1c91-658e-c3acf7e12338" class="_w-navlink-text">
                            <div data-w-id="1aa22747-862d-1c91-658e-c3acf7e12339" class="navlink-text">KBSERIA</div>
                          </div>
                        </div>
                      </div>
                    </a><a href="/podlist/LUMUT/1/10" class="c-navlinks w-inline-block">
                      <div class="_w-navlinks">
                        <div class="c-navlink-text">
                          <div data-w-id="1aa22747-862d-1c91-658e-c3acf7e1233e" class="_w-navlink-text">
                            <div data-w-id="1aa22747-862d-1c91-658e-c3acf7e1233f" class="navlink-text">LUMUT</div>
                          </div>
                        </div>
                      </div>
                    </a><a href="/podlist/SERIA/1/10" class="c-navlinks w-inline-block">
                      <div class="_w-navlinks">
                        <div class="c-navlink-text">
                          <div data-w-id="1aa22747-862d-1c91-658e-c3acf7e12344" class="_w-navlink-text">
                            <div data-w-id="1aa22747-862d-1c91-658e-c3acf7e12345" class="navlink-text">SERIA</div>
                          </div>
                        </div>
                      </div>
                    </a><a href="/podlist/KB/1/10" class="c-navlinks w-inline-block">
                      <div class="_w-navlinks">
                        <div class="c-navlink-text">
                          <div data-w-id="1aa22747-862d-1c91-658e-c3acf7e1234a" class="_w-navlink-text">
                            <div data-w-id="1aa22747-862d-1c91-658e-c3acf7e1234b" class="navlink-text">KB</div>
                          </div>
                        </div>
                      </div>
                    </a><a href="/podlist/TEMB/1/10" class="c-navlinks w-inline-block">
                      <div class="_w-navlinks">
                        <div class="c-navlink-text">
                          <div data-w-id="1aa22747-862d-1c91-658e-c3acf7e12350" class="_w-navlink-text">
                            <div data-w-id="1aa22747-862d-1c91-658e-c3acf7e12351" class="navlink-text">TEMBURONG</div>
                          </div>
                        </div>
                      </div>
                    </a></nav>
                </div>
                <div data-hover="false" data-delay="0" class="w-dropdown">
                  <div class="dropdown-toggle w-dropdown-toggle">
                    <div class="icon-8 w-icon-dropdown-toggle"></div>
                    <div class="_w-navlinks">
                      <div class="c-navlink-text">
                        <div data-w-id="1aa22747-862d-1c91-658e-c3acf7e12358" class="_w-navlink-text">
                          <div data-w-id="1aa22747-862d-1c91-658e-c3acf7e12359" class="navlink-text">Coming Soon</div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <nav class="dropdown-list-5 w-dropdown-list"><a href="#" class="c-navlinks w-inline-block">
                      <div class="_w-navlinks">
                        <div class="c-navlink-text">
                          <div data-w-id="1aa22747-862d-1c91-658e-c3acf7e1235f" class="_w-navlink-text">
                            <div data-w-id="1aa22747-862d-1c91-658e-c3acf7e12360" class="navlink-text">Coming Soon</div>
                          </div>
                        </div>
                      </div>
                    </a><a href="#" class="c-navlinks w-inline-block">
                      <div class="_w-navlinks">
                        <div class="c-navlink-text">
                          <div data-w-id="1aa22747-862d-1c91-658e-c3acf7e12365" class="_w-navlink-text">
                            <div data-w-id="1aa22747-862d-1c91-658e-c3acf7e12366" class="navlink-text">Coming Soon</div>
                          </div>
                        </div>
                      </div>
                    </a></nav>
                </div>
              </nav>
            </div>
          </div>
          <div class="c-side-navlink"><a href="/selfCollect" class="c-navlinks w-inline-block">
              <div class="_w-navlinks">
                <div class="c-navlink-icon"><img src="https://uploads-ssl.webflow.com/61fb4a164eca130338cafeaa/6269f70f8453501ba9341b39_self%20collect.png" loading="lazy" width="36" alt="" /></div>
                <div class="c-navlink-text">
                  <div data-w-id="1aa22747-862d-1c91-658e-c3acf7e12389" class="_w-navlink-text">
                    <div data-w-id="1aa22747-862d-1c91-658e-c3acf7e1238a" class="navlink-text">Self Collect</div>
                  </div>
                </div>
              </div>
            </a></div>
        </div>
        <div class="c-nav-divider">
          <div class="nav-divider"></div>
        </div>
        <div class="c-nav-extra-links">
          <div class="c-navlinks-item"><a href="#" class="c-navlinks w-inline-block">
              <div class="_w-navlinks">
                <div class="c-navlink-icon"><img src="https://uploads-ssl.webflow.com/61fb4a164eca130338cafeaa/6258e61ea5d8ce63786b9563_profile-user.svg" loading="lazy" alt="" class="navlink-icon" /></div>
                <div class="c-navlink-text">
                  <div data-w-id="1aa22747-862d-1c91-658e-c3acf7e123b0" class="_w-navlink-text">
                    <div data-w-id="1aa22747-862d-1c91-658e-c3acf7e123b1" class="navlink-text"><%= name %></div>
                  </div>
                </div>
              </div>
            </a></div>
          <div class="c-navlinks-item"><a href="#" class="c-navlinks w-inline-block">
              <div class="_w-navlinks">
                <div class="c-navlink-text">
                  <div data-w-id="1aa22747-862d-1c91-658e-c3acf7e123b7" class="_w-navlink-text">
                    <div data-w-id="1aa22747-862d-1c91-658e-c3acf7e123b8" class="navlink-text"><%= icNumber %> | <%= position %></div>
                    <div data-w-id="1aa22747-862d-1c91-658e-c3acf7e123ba" class="navlink-text"><%= contact %> | <%= office %></div>
                  </div>
                </div>
              </div>
            </a></div>
          <div class="c-navlinks-item"><a href="#" class="c-navlinks w-inline-block">
              <div class="_w-navlinks">
                <div class="c-navlink-icon"><img src="https://uploads-ssl.webflow.com/61fb4a164eca130338cafeaa/626a1e243107cb9baf02aeec_log%20out.png" loading="lazy" width="25" alt="" /></div>
                <div class="c-navlink-text">
                  <div data-w-id="1aa22747-862d-1c91-658e-c3acf7e123c2" class="_w-navlink-text">
                    <div data-w-id="1aa22747-862d-1c91-658e-c3acf7e123c3" class="navlink-text">Log Out</div>
                  </div>
                </div>
              </div>
            </a></div>
        </div>
      </nav>
    </div>
  </div>