<div data-collapse="small" data-animation="default" data-duration="400" data-easing="ease" data-easing2="ease" role="banner" class="c-sidenavbar w-nav">
    <div data-w-id="27566363-2684-9d85-0d8f-fdd9f9218261" class="c-sidenavbar-container w-container">
      <div class="c-menu-controls">
        <div class="c-menu-btn w-nav-button">
          <div class="w-icon-nav-menu"></div>
        </div>
      </div>
      <nav role="navigation" class="c-side-navmenu w-nav-menu">
        <div class="ci-side-navlinks">
          <div class="c-side-navlink">
            <div data-hover="false" data-delay="0" class="w-dropdown">
              <div class="dropdown-toggle w-dropdown-toggle">
                <div class="icon-8 w-icon-dropdown-toggle"></div>
                <div class="_w-navlinks">
                  <div class="c-navlink-icon"><img src="https://uploads-ssl.webflow.com/61fb4a164eca130338cafeaa/6269f5eebd2492591f7bf040_item%20list.png" loading="lazy" width="36" alt="" /></div>
                  <div class="c-navlink-text">
                    <div data-w-id="27566363-2684-9d85-0d8f-fdd9f921826f" class="_w-navlink-text">
                      <div data-w-id="27566363-2684-9d85-0d8f-fdd9f9218270" class="navlink-text">Item List</div>
                    </div>
                  </div>
                </div>
              </div>
              <nav class="dropdown-list-5 w-dropdown-list"><a href="/list/tc/ZALORA/B1/1/10" class="c-navlinks w-inline-block">
                  <div class="_w-navlinks">
                    <div class="c-navlink-text">
                      <div data-w-id="27566363-2684-9d85-0d8f-fdd9f9218276" class="_w-navlink-text">
                        <div data-w-id="27566363-2684-9d85-0d8f-fdd9f9218277" class="navlink-text">ZALORA</div>
                      </div>
                    </div>
                  </div>
                </a><a href="/list/tc/PHARMACY/B1/1/10" class="c-navlinks w-inline-block">
                  <div class="_w-navlinks">
                    <div class="c-navlink-text">
                      <div data-w-id="27566363-2684-9d85-0d8f-fdd9f921827c" class="_w-navlink-text">
                        <div data-w-id="27566363-2684-9d85-0d8f-fdd9f921827d" class="navlink-text">PHARMACY</div>
                      </div>
                    </div>
                  </div>
                </a><a href="/list/tc/GRP/B1/1/10" class="c-navlinks w-inline-block">
                  <div class="_w-navlinks">
                    <div class="c-navlink-text">
                      <div data-w-id="27566363-2684-9d85-0d8f-fdd9f9218282" class="_w-navlink-text">
                        <div data-w-id="27566363-2684-9d85-0d8f-fdd9f9218283" class="navlink-text">GRP</div>
                      </div>
                    </div>
                  </div>
                </a></nav>
            </div>
          </div>
          <div class="c-side-navlink">
            <div data-hover="false" data-delay="0" class="w-dropdown">
              <div class="dropdown-toggle w-dropdown-toggle">
                <div class="icon-8 w-icon-dropdown-toggle"></div>
                <div class="_w-navlinks">
                  <div class="c-navlink-icon"><img src="https://uploads-ssl.webflow.com/61fb4a164eca130338cafeaa/6269f61805e04e6bfa1a8722_pod.png" loading="lazy" width="36" alt="" /></div>
                  <div class="c-navlink-text">
                    <div data-w-id="27566363-2684-9d85-0d8f-fdd9f921828d" class="_w-navlink-text">
                      <div data-w-id="27566363-2684-9d85-0d8f-fdd9f921828e" class="navlink-text">POD List</div>
                    </div>
                  </div>
                </div>
              </div>
              <nav class="dropdown-list-5 w-dropdown-list">
                <div data-hover="false" data-delay="0" class="w-dropdown">
                  <div class="dropdown-toggle w-dropdown-toggle">
                    <div class="icon-8 w-icon-dropdown-toggle"></div>
                    <div class="_w-navlinks">
                      <div class="c-navlink-text">
                        <div data-w-id="27566363-2684-9d85-0d8f-fdd9f9218296" class="_w-navlink-text">
                          <div data-w-id="27566363-2684-9d85-0d8f-fdd9f9218297" class="navlink-text">Area</div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <nav class="dropdown-list-5 w-dropdown-list"><a href="/podlist/B1/1/10" class="c-navlinks w-inline-block">
                      <div class="_w-navlinks">
                        <div class="c-navlink-text">
                          <div data-w-id="27566363-2684-9d85-0d8f-fdd9f921829d" class="_w-navlink-text">
                            <div data-w-id="27566363-2684-9d85-0d8f-fdd9f921829e" class="navlink-text">B1</div>
                          </div>
                        </div>
                      </div>
                    </a><a href="/podlist/B2/1/10" class="c-navlinks w-inline-block">
                      <div class="_w-navlinks">
                        <div class="c-navlink-text">
                          <div data-w-id="27566363-2684-9d85-0d8f-fdd9f92182a3" class="_w-navlink-text">
                            <div data-w-id="27566363-2684-9d85-0d8f-fdd9f92182a4" class="navlink-text">B2</div>
                          </div>
                        </div>
                      </div>
                    </a><a href="/podlist/G1/1/10" class="c-navlinks w-inline-block">
                      <div class="_w-navlinks">
                        <div class="c-navlink-text">
                          <div data-w-id="27566363-2684-9d85-0d8f-fdd9f92182a9" class="_w-navlink-text">
                            <div data-w-id="27566363-2684-9d85-0d8f-fdd9f92182aa" class="navlink-text">G1</div>
                          </div>
                        </div>
                      </div>
                    </a><a href="/podlist/G2/1/10" class="c-navlinks w-inline-block">
                      <div class="_w-navlinks">
                        <div class="c-navlink-text">
                          <div data-w-id="27566363-2684-9d85-0d8f-fdd9f92182af" class="_w-navlink-text">
                            <div data-w-id="27566363-2684-9d85-0d8f-fdd9f92182b0" class="navlink-text">G2</div>
                          </div>
                        </div>
                      </div>
                    </a><a href="/podlist/JT1/1/10" class="c-navlinks w-inline-block">
                      <div class="_w-navlinks">
                        <div class="c-navlink-text">
                          <div data-w-id="27566363-2684-9d85-0d8f-fdd9f92182b5" class="_w-navlink-text">
                            <div data-w-id="27566363-2684-9d85-0d8f-fdd9f92182b6" class="navlink-text">JT1</div>
                          </div>
                        </div>
                      </div>
                    </a><a href="/podlist/JT2/1/10" class="c-navlinks w-inline-block">
                      <div class="_w-navlinks">
                        <div class="c-navlink-text">
                          <div data-w-id="27566363-2684-9d85-0d8f-fdd9f92182bb" class="_w-navlink-text">
                            <div data-w-id="27566363-2684-9d85-0d8f-fdd9f92182bc" class="navlink-text">JT2</div>
                          </div>
                        </div>
                      </div>
                    </a><a href="/podlist/JT3/1/10" class="c-navlinks w-inline-block">
                      <div class="_w-navlinks">
                        <div class="c-navlink-text">
                          <div data-w-id="27566363-2684-9d85-0d8f-fdd9f92182c1" class="_w-navlink-text">
                            <div data-w-id="27566363-2684-9d85-0d8f-fdd9f92182c2" class="navlink-text">JT3</div>
                          </div>
                        </div>
                      </div>
                    </a><a href="/podlist/TTG/1/10" class="c-navlinks w-inline-block">
                      <div class="_w-navlinks">
                        <div class="c-navlink-text">
                          <div data-w-id="27566363-2684-9d85-0d8f-fdd9f92182c7" class="_w-navlink-text">
                            <div data-w-id="27566363-2684-9d85-0d8f-fdd9f92182c8" class="navlink-text">TUTONG</div>
                          </div>
                        </div>
                      </div>
                    </a><a href="/podlist/KBSERIA/1/10" class="c-navlinks w-inline-block">
                      <div class="_w-navlinks">
                        <div class="c-navlink-text">
                          <div data-w-id="27566363-2684-9d85-0d8f-fdd9f92182cd" class="_w-navlink-text">
                            <div data-w-id="27566363-2684-9d85-0d8f-fdd9f92182ce" class="navlink-text">KBSERIA</div>
                          </div>
                        </div>
                      </div>
                    </a><a href="/podlist/LUMUT/1/10" class="c-navlinks w-inline-block">
                      <div class="_w-navlinks">
                        <div class="c-navlink-text">
                          <div data-w-id="27566363-2684-9d85-0d8f-fdd9f92182d3" class="_w-navlink-text">
                            <div data-w-id="27566363-2684-9d85-0d8f-fdd9f92182d4" class="navlink-text">LUMUT</div>
                          </div>
                        </div>
                      </div>
                    </a><a href="/podlist/SERIA/1/10" class="c-navlinks w-inline-block">
                      <div class="_w-navlinks">
                        <div class="c-navlink-text">
                          <div data-w-id="27566363-2684-9d85-0d8f-fdd9f92182d9" class="_w-navlink-text">
                            <div data-w-id="27566363-2684-9d85-0d8f-fdd9f92182da" class="navlink-text">SERIA</div>
                          </div>
                        </div>
                      </div>
                    </a><a href="/podlist/KB/1/10" class="c-navlinks w-inline-block">
                      <div class="_w-navlinks">
                        <div class="c-navlink-text">
                          <div data-w-id="27566363-2684-9d85-0d8f-fdd9f92182df" class="_w-navlink-text">
                            <div data-w-id="27566363-2684-9d85-0d8f-fdd9f92182e0" class="navlink-text">KB</div>
                          </div>
                        </div>
                      </div>
                    </a><a href="/podlist/TEMB/1/10" class="c-navlinks w-inline-block">
                      <div class="_w-navlinks">
                        <div class="c-navlink-text">
                          <div data-w-id="27566363-2684-9d85-0d8f-fdd9f92182e5" class="_w-navlink-text">
                            <div data-w-id="27566363-2684-9d85-0d8f-fdd9f92182e6" class="navlink-text">TEMBURONG</div>
                          </div>
                        </div>
                      </div>
                    </a></nav>
                </div>
              </nav>
            </div>
          </div>
          <div class="c-side-navlink"><a href="/pod" class="c-navlinks w-inline-block">
              <div class="_w-navlinks">
                <div class="c-navlink-icon"><img src="https://uploads-ssl.webflow.com/61fb4a164eca130338cafeaa/6269f69d35f0520e89a16fe6_pod.png" loading="lazy" width="37" alt="" /></div>
                <div class="c-navlink-text">
                  <div data-w-id="27566363-2684-9d85-0d8f-fdd9f9218315" class="_w-navlink-text">
                    <div data-w-id="27566363-2684-9d85-0d8f-fdd9f9218316" class="navlink-text">POD</div>
                  </div>
                </div>
              </div>
            </a></div>
          <div class="c-side-navlink"><a href="/reentry" class="c-navlinks w-inline-block">
              <div class="_w-navlinks">
                <div class="c-navlink-icon"><img src="https://uploads-ssl.webflow.com/61fb4a164eca130338cafeaa/6269f702bd698f59472ce666_reentry.png" loading="lazy" width="36" alt="" /></div>
                <div class="c-navlink-text">
                  <div data-w-id="27566363-2684-9d85-0d8f-fdd9f9218327" class="_w-navlink-text">
                    <div data-w-id="27566363-2684-9d85-0d8f-fdd9f9218328" class="navlink-text">Re-Entry</div>
                  </div>
                </div>
              </div>
            </a></div>
        </div>
        <div class="c-nav-divider">
          <div class="nav-divider"></div>
        </div>
        <div class="c-nav-extra-links">
          <div class="c-navlinks-item"><a href="#" class="c-navlinks w-inline-block">
              <div class="_w-navlinks">
                <div class="c-navlink-icon"><img src="https://uploads-ssl.webflow.com/61fb4a164eca130338cafeaa/6258e61ea5d8ce63786b9563_profile-user.svg" loading="lazy" alt="" class="navlink-icon" /></div>
                <div class="c-navlink-text">
                  <div data-w-id="27566363-2684-9d85-0d8f-fdd9f9218345" class="_w-navlink-text">
                    <div data-w-id="27566363-2684-9d85-0d8f-fdd9f9218346" class="navlink-text"><%= name %></div>
                  </div>
                </div>
              </div>
            </a></div>
          <div class="c-navlinks-item"><a href="#" class="c-navlinks w-inline-block">
              <div class="_w-navlinks">
                <div class="c-navlink-text">
                  <div data-w-id="27566363-2684-9d85-0d8f-fdd9f921834c" class="_w-navlink-text">
                    <div data-w-id="27566363-2684-9d85-0d8f-fdd9f921834d" class="navlink-text"><%= icNumber %> | <%= position %></div>
                    <div data-w-id="27566363-2684-9d85-0d8f-fdd9f921834f" class="navlink-text"><%= contact %> | <%= office %></div>
                  </div>
                </div>
              </div>
            </a></div>
          <div class="c-navlinks-item"><a href="#" class="c-navlinks w-inline-block">
              <div class="_w-navlinks">
                <div class="c-navlink-icon"><img src="https://uploads-ssl.webflow.com/61fb4a164eca130338cafeaa/626a1e243107cb9baf02aeec_log%20out.png" loading="lazy" width="25" alt="" /></div>
                <div class="c-navlink-text">
                  <div data-w-id="27566363-2684-9d85-0d8f-fdd9f9218357" class="_w-navlink-text">
                    <div data-w-id="27566363-2684-9d85-0d8f-fdd9f9218358" class="navlink-text">Log Out</div>
                  </div>
                </div>
              </div>
            </a></div>
        </div>
      </nav>
    </div>
  </div>
  