<div data-collapse="small" data-animation="default" data-duration="400" data-easing="ease" data-easing2="ease" role="banner" class="c-sidenavbar w-nav">
    <div data-w-id="8ccb8aa6-cb59-7ec3-de75-0e2c75593f37" class="c-sidenavbar-container w-container">
      <div class="c-menu-controls">
        <div class="c-menu-btn w-nav-button">
          <div class="w-icon-nav-menu"></div>
        </div>
      </div>
      <nav role="navigation" class="c-side-navmenu w-nav-menu">
        <div class="ci-side-navlinks">
          <div class="c-side-navlink">
            <div data-hover="false" data-delay="0" class="w-dropdown">
              <div class="dropdown-toggle w-dropdown-toggle">
                <div class="icon-8 w-icon-dropdown-toggle"></div>
                <div class="_w-navlinks">
                  <div class="c-navlink-icon"><img src="https://uploads-ssl.webflow.com/61fb4a164eca130338cafeaa/6269f61805e04e6bfa1a8722_pod.png" loading="lazy" width="36" alt="" /></div>
                  <div class="c-navlink-text">
                    <div data-w-id="8ccb8aa6-cb59-7ec3-de75-0e2c75593f63" class="_w-navlink-text">
                      <div data-w-id="8ccb8aa6-cb59-7ec3-de75-0e2c75593f64" class="navlink-text">POD List</div>
                    </div>
                  </div>
                </div>
              </div>
              <nav class="dropdown-list-5 w-dropdown-list">
                <div data-hover="false" data-delay="0" class="w-dropdown">
                  <div class="dropdown-toggle w-dropdown-toggle">
                    <div class="icon-8 w-icon-dropdown-toggle"></div>
                    <div class="_w-navlinks">
                      <div class="c-navlink-text">
                        <div data-w-id="8ccb8aa6-cb59-7ec3-de75-0e2c75593f6c" class="_w-navlink-text">
                          <div data-w-id="8ccb8aa6-cb59-7ec3-de75-0e2c75593f6d" class="navlink-text">Area</div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <nav class="dropdown-list-5 w-dropdown-list"><a href="/podlist/B1/1/10/<%= id %>" class="c-navlinks w-inline-block">
                      <div class="_w-navlinks">
                        <div class="c-navlink-text">
                          <div data-w-id="8ccb8aa6-cb59-7ec3-de75-0e2c75593f73" class="_w-navlink-text">
                            <div data-w-id="8ccb8aa6-cb59-7ec3-de75-0e2c75593f74" class="navlink-text">B1</div>
                          </div>
                        </div>
                      </div>
                    </a><a href="/podlist/B2/1/10/<%= id %>" class="c-navlinks w-inline-block">
                      <div class="_w-navlinks">
                        <div class="c-navlink-text">
                          <div data-w-id="8ccb8aa6-cb59-7ec3-de75-0e2c75593f79" class="_w-navlink-text">
                            <div data-w-id="8ccb8aa6-cb59-7ec3-de75-0e2c75593f7a" class="navlink-text">B2</div>
                          </div>
                        </div>
                      </div>
                    </a><a href="/podlist/G1/1/10/<%= id %>" class="c-navlinks w-inline-block">
                      <div class="_w-navlinks">
                        <div class="c-navlink-text">
                          <div data-w-id="8ccb8aa6-cb59-7ec3-de75-0e2c75593f7f" class="_w-navlink-text">
                            <div data-w-id="8ccb8aa6-cb59-7ec3-de75-0e2c75593f80" class="navlink-text">G1</div>
                          </div>
                        </div>
                      </div>
                    </a><a href="/podlist/G2/1/10/<%= id %>" class="c-navlinks w-inline-block">
                      <div class="_w-navlinks">
                        <div class="c-navlink-text">
                          <div data-w-id="8ccb8aa6-cb59-7ec3-de75-0e2c75593f85" class="_w-navlink-text">
                            <div data-w-id="8ccb8aa6-cb59-7ec3-de75-0e2c75593f86" class="navlink-text">G2</div>
                          </div>
                        </div>
                      </div>
                    </a><a href="/podlist/JT1/1/10/<%= id %>" class="c-navlinks w-inline-block">
                      <div class="_w-navlinks">
                        <div class="c-navlink-text">
                          <div data-w-id="8ccb8aa6-cb59-7ec3-de75-0e2c75593f8b" class="_w-navlink-text">
                            <div data-w-id="8ccb8aa6-cb59-7ec3-de75-0e2c75593f8c" class="navlink-text">JT1</div>
                          </div>
                        </div>
                      </div>
                    </a><a href="/podlist/JT2/1/10/<%= id %>" class="c-navlinks w-inline-block">
                      <div class="_w-navlinks">
                        <div class="c-navlink-text">
                          <div data-w-id="8ccb8aa6-cb59-7ec3-de75-0e2c75593f91" class="_w-navlink-text">
                            <div data-w-id="8ccb8aa6-cb59-7ec3-de75-0e2c75593f92" class="navlink-text">JT2</div>
                          </div>
                        </div>
                      </div>
                    </a><a href="/podlist/JT3/1/10/<%= id %>" class="c-navlinks w-inline-block">
                      <div class="_w-navlinks">
                        <div class="c-navlink-text">
                          <div data-w-id="8ccb8aa6-cb59-7ec3-de75-0e2c75593f97" class="_w-navlink-text">
                            <div data-w-id="8ccb8aa6-cb59-7ec3-de75-0e2c75593f98" class="navlink-text">JT3</div>
                          </div>
                        </div>
                      </div>
                    </a><a href="/podlist/TTG/1/10/<%= id %>" class="c-navlinks w-inline-block">
                      <div class="_w-navlinks">
                        <div class="c-navlink-text">
                          <div data-w-id="8ccb8aa6-cb59-7ec3-de75-0e2c75593f9d" class="_w-navlink-text">
                            <div data-w-id="8ccb8aa6-cb59-7ec3-de75-0e2c75593f9e" class="navlink-text">TUTONG</div>
                          </div>
                        </div>
                      </div>
                    </a><a href="/podlist/KBSERIA/1/10/<%= id %>" class="c-navlinks w-inline-block">
                      <div class="_w-navlinks">
                        <div class="c-navlink-text">
                          <div data-w-id="8ccb8aa6-cb59-7ec3-de75-0e2c75593fa3" class="_w-navlink-text">
                            <div data-w-id="8ccb8aa6-cb59-7ec3-de75-0e2c75593fa4" class="navlink-text">KBSERIA</div>
                          </div>
                        </div>
                      </div>
                    </a><a href="/podlist/LUMUT/1/10/<%= id %>" class="c-navlinks w-inline-block">
                      <div class="_w-navlinks">
                        <div class="c-navlink-text">
                          <div data-w-id="8ccb8aa6-cb59-7ec3-de75-0e2c75593fa9" class="_w-navlink-text">
                            <div data-w-id="8ccb8aa6-cb59-7ec3-de75-0e2c75593faa" class="navlink-text">LUMUT</div>
                          </div>
                        </div>
                      </div>
                    </a><a href="/podlist/SERIA/1/10/<%= id %>" class="c-navlinks w-inline-block">
                      <div class="_w-navlinks">
                        <div class="c-navlink-text">
                          <div data-w-id="8ccb8aa6-cb59-7ec3-de75-0e2c75593faf" class="_w-navlink-text">
                            <div data-w-id="8ccb8aa6-cb59-7ec3-de75-0e2c75593fb0" class="navlink-text">SERIA</div>
                          </div>
                        </div>
                      </div>
                    </a><a href="/podlist/KB/1/10/<%= id %>" class="c-navlinks w-inline-block">
                      <div class="_w-navlinks">
                        <div class="c-navlink-text">
                          <div data-w-id="8ccb8aa6-cb59-7ec3-de75-0e2c75593fb5" class="_w-navlink-text">
                            <div data-w-id="8ccb8aa6-cb59-7ec3-de75-0e2c75593fb6" class="navlink-text">KB</div>
                          </div>
                        </div>
                      </div>
                    </a><a href="/podlist/TEMB/1/10/<%= id %>" class="c-navlinks w-inline-block">
                      <div class="_w-navlinks">
                        <div class="c-navlink-text">
                          <div data-w-id="8ccb8aa6-cb59-7ec3-de75-0e2c75593fbb" class="_w-navlink-text">
                            <div data-w-id="8ccb8aa6-cb59-7ec3-de75-0e2c75593fbc" class="navlink-text">TEMBURONG</div>
                          </div>
                        </div>
                      </div>
                    </a></nav>
                </div>
              </nav>
            </div>
          </div>
        </div>
        <div class="c-nav-divider">
          <div class="nav-divider"></div>
        </div>
        <div class="c-nav-extra-links">
          <div class="c-navlinks-item"><a href="#" class="c-navlinks w-inline-block">
              <div class="_w-navlinks">
                <div class="c-navlink-icon"><img src="https://uploads-ssl.webflow.com/61fb4a164eca130338cafeaa/6258e61ea5d8ce63786b9563_profile-user.svg" loading="lazy" alt="" class="navlink-icon" /></div>
                <div class="c-navlink-text">
                  <div data-w-id="8ccb8aa6-cb59-7ec3-de75-0e2c7559401b" class="_w-navlink-text">
                    <div data-w-id="8ccb8aa6-cb59-7ec3-de75-0e2c7559401c" class="navlink-text"><%= name %></div>
                  </div>
                </div>
              </div>
            </a></div>
          <div class="c-navlinks-item"><a href="#" class="c-navlinks w-inline-block">
              <div class="_w-navlinks">
                <div class="c-navlink-text">
                  <div data-w-id="8ccb8aa6-cb59-7ec3-de75-0e2c75594022" class="_w-navlink-text">
                    <div data-w-id="8ccb8aa6-cb59-7ec3-de75-0e2c75594023" class="navlink-text"><%= icNumber %> | <%= position %></div>
                    <div data-w-id="8ccb8aa6-cb59-7ec3-de75-0e2c75594025" class="navlink-text"><%= contact %> | <%= office %></div>
                  </div>
                </div>
              </div>
            </a></div>
          <div class="c-navlinks-item"><a href="#" class="c-navlinks w-inline-block">
              <div class="_w-navlinks">
                <div class="c-navlink-icon"><img src="https://uploads-ssl.webflow.com/61fb4a164eca130338cafeaa/626a1e243107cb9baf02aeec_log%20out.png" loading="lazy" width="25" alt="" /></div>
                <div class="c-navlink-text">
                  <div data-w-id="8ccb8aa6-cb59-7ec3-de75-0e2c7559402d" class="_w-navlink-text">
                    <div data-w-id="8ccb8aa6-cb59-7ec3-de75-0e2c7559402e" class="navlink-text">Log Out</div>
                  </div>
                </div>
              </div>
            </a></div>
        </div>
      </nav>
    </div>
  </div>