<div data-collapse="small" data-animation="default" data-duration="400" data-easing="ease" data-easing2="ease" role="banner" class="c-sidenavbar w-nav">
  <div data-w-id="2e64ae65-6234-9a67-e87c-e9f232195d85" class="c-sidenavbar-container w-container">
    <div class="c-menu-controls">
      <div class="c-menu-btn w-nav-button">
        <div class="w-icon-nav-menu"></div>
      </div>
    </div>
    <nav role="navigation" class="c-side-navmenu w-nav-menu">
      <div class="ci-side-navlinks">
        <div class="c-side-navlink">
          <div data-hover="false" data-delay="0" class="w-dropdown">
            <div class="dropdown-toggle w-dropdown-toggle">
              <div class="icon-8 w-icon-dropdown-toggle"></div>
              <div class="_w-navlinks">
                <div class="c-navlink-icon"><img src="https://uploads-ssl.webflow.com/61fb4a164eca130338cafeaa/6269f5eebd2492591f7bf040_item%20list.png" loading="lazy" width="36" alt="" /></div>
                <div class="c-navlink-text">
                  <div data-w-id="2e64ae65-6234-9a67-e87c-e9f232195d93" class="_w-navlink-text">
                    <div data-w-id="2e64ae65-6234-9a67-e87c-e9f232195d94" class="navlink-text">Item List</div>
                  </div>
                </div>
              </div>
            </div>
            <nav class="dropdown-list-5 w-dropdown-list"><a href="/list/ZALORA/B1/1/10" class="c-navlinks w-inline-block">
                <div class="_w-navlinks">
                  <div class="c-navlink-text">
                    <div data-w-id="2e64ae65-6234-9a67-e87c-e9f232195d9a" class="_w-navlink-text">
                      <div data-w-id="2e64ae65-6234-9a67-e87c-e9f232195d9b" class="navlink-text">ZALORA</div>
                    </div>
                  </div>
                </div>
              </a><a href="/list/PHARMACY/B1/1/10" class="c-navlinks w-inline-block">
                <div class="_w-navlinks">
                  <div class="c-navlink-text">
                    <div data-w-id="2e64ae65-6234-9a67-e87c-e9f232195da0" class="_w-navlink-text">
                      <div data-w-id="2e64ae65-6234-9a67-e87c-e9f232195da1" class="navlink-text">PHARMACY</div>
                    </div>
                  </div>
                </div>
              </a><a href="/list/GRP/B1/1/10" class="c-navlinks w-inline-block">
                <div class="_w-navlinks">
                  <div class="c-navlink-text">
                    <div data-w-id="2e64ae65-6234-9a67-e87c-e9f232195da6" class="_w-navlink-text">
                      <div data-w-id="2e64ae65-6234-9a67-e87c-e9f232195da7" class="navlink-text">GRP</div>
                    </div>
                  </div>
                </div>
              </a></nav>
          </div>
        </div>
        <div class="c-side-navlink">
          <div data-hover="false" data-delay="0" class="w-dropdown">
            <div class="dropdown-toggle w-dropdown-toggle">
              <div class="icon-8 w-icon-dropdown-toggle"></div>
              <div class="_w-navlinks">
                <div class="c-navlink-icon"><img src="https://uploads-ssl.webflow.com/61fb4a164eca130338cafeaa/6269f61805e04e6bfa1a8722_pod.png" loading="lazy" width="36" alt="" /></div>
                <div class="c-navlink-text">
                  <div data-w-id="2e64ae65-6234-9a67-e87c-e9f232195db1" class="_w-navlink-text">
                    <div data-w-id="2e64ae65-6234-9a67-e87c-e9f232195db2" class="navlink-text">POD List</div>
                  </div>
                </div>
              </div>
            </div>
            <nav class="dropdown-list-5 w-dropdown-list">
              <div data-hover="false" data-delay="0" class="w-dropdown">
                <div class="dropdown-toggle w-dropdown-toggle">
                  <div class="icon-8 w-icon-dropdown-toggle"></div>
                  <div class="_w-navlinks">
                    <div class="c-navlink-text">
                      <div data-w-id="2e64ae65-6234-9a67-e87c-e9f232195dba" class="_w-navlink-text">
                        <div data-w-id="2e64ae65-6234-9a67-e87c-e9f232195dbb" class="navlink-text">Area</div>
                      </div>
                    </div>
                  </div>
                </div>
                <nav class="dropdown-list-5 w-dropdown-list"><a href="/podlist/B1/1/10" class="c-navlinks w-inline-block">
                    <div class="_w-navlinks">
                      <div class="c-navlink-text">
                        <div data-w-id="2e64ae65-6234-9a67-e87c-e9f232195dc1" class="_w-navlink-text">
                          <div data-w-id="2e64ae65-6234-9a67-e87c-e9f232195dc2" class="navlink-text">B1</div>
                        </div>
                      </div>
                    </div>
                  </a><a href="/podlist/B2/1/10" class="c-navlinks w-inline-block">
                    <div class="_w-navlinks">
                      <div class="c-navlink-text">
                        <div data-w-id="2e64ae65-6234-9a67-e87c-e9f232195dc7" class="_w-navlink-text">
                          <div data-w-id="2e64ae65-6234-9a67-e87c-e9f232195dc8" class="navlink-text">B2</div>
                        </div>
                      </div>
                    </div>
                  </a><a href="/podlist/G1/1/10" class="c-navlinks w-inline-block">
                    <div class="_w-navlinks">
                      <div class="c-navlink-text">
                        <div data-w-id="2e64ae65-6234-9a67-e87c-e9f232195dcd" class="_w-navlink-text">
                          <div data-w-id="2e64ae65-6234-9a67-e87c-e9f232195dce" class="navlink-text">G1</div>
                        </div>
                      </div>
                    </div>
                  </a><a href="/podlist/G2/1/10" class="c-navlinks w-inline-block">
                    <div class="_w-navlinks">
                      <div class="c-navlink-text">
                        <div data-w-id="2e64ae65-6234-9a67-e87c-e9f232195dd3" class="_w-navlink-text">
                          <div data-w-id="2e64ae65-6234-9a67-e87c-e9f232195dd4" class="navlink-text">G2</div>
                        </div>
                      </div>
                    </div>
                  </a><a href="/podlist/JT1/1/10" class="c-navlinks w-inline-block">
                    <div class="_w-navlinks">
                      <div class="c-navlink-text">
                        <div data-w-id="2e64ae65-6234-9a67-e87c-e9f232195dd9" class="_w-navlink-text">
                          <div data-w-id="2e64ae65-6234-9a67-e87c-e9f232195dda" class="navlink-text">JT1</div>
                        </div>
                      </div>
                    </div>
                  </a><a href="/podlist/JT2/1/10" class="c-navlinks w-inline-block">
                    <div class="_w-navlinks">
                      <div class="c-navlink-text">
                        <div data-w-id="2e64ae65-6234-9a67-e87c-e9f232195ddf" class="_w-navlink-text">
                          <div data-w-id="2e64ae65-6234-9a67-e87c-e9f232195de0" class="navlink-text">JT2</div>
                        </div>
                      </div>
                    </div>
                  </a><a href="/podlist/JT3/1/10" class="c-navlinks w-inline-block">
                    <div class="_w-navlinks">
                      <div class="c-navlink-text">
                        <div data-w-id="2e64ae65-6234-9a67-e87c-e9f232195de5" class="_w-navlink-text">
                          <div data-w-id="2e64ae65-6234-9a67-e87c-e9f232195de6" class="navlink-text">JT3</div>
                        </div>
                      </div>
                    </div>
                  </a><a href="/podlist/TTG/1/10" class="c-navlinks w-inline-block">
                    <div class="_w-navlinks">
                      <div class="c-navlink-text">
                        <div data-w-id="2e64ae65-6234-9a67-e87c-e9f232195deb" class="_w-navlink-text">
                          <div data-w-id="2e64ae65-6234-9a67-e87c-e9f232195dec" class="navlink-text">TUTONG</div>
                        </div>
                      </div>
                    </div>
                  </a><a href="/podlist/KBSERIA/1/10" class="c-navlinks w-inline-block">
                    <div class="_w-navlinks">
                      <div class="c-navlink-text">
                        <div data-w-id="2e64ae65-6234-9a67-e87c-e9f232195df1" class="_w-navlink-text">
                          <div data-w-id="2e64ae65-6234-9a67-e87c-e9f232195df2" class="navlink-text">KBSERIA</div>
                        </div>
                      </div>
                    </div>
                  </a><a href="/podlist/LUMUT/1/10" class="c-navlinks w-inline-block">
                    <div class="_w-navlinks">
                      <div class="c-navlink-text">
                        <div data-w-id="2e64ae65-6234-9a67-e87c-e9f232195df7" class="_w-navlink-text">
                          <div data-w-id="2e64ae65-6234-9a67-e87c-e9f232195df8" class="navlink-text">LUMUT</div>
                        </div>
                      </div>
                    </div>
                  </a><a href="/podlist/SERIA/1/10" class="c-navlinks w-inline-block">
                    <div class="_w-navlinks">
                      <div class="c-navlink-text">
                        <div data-w-id="2e64ae65-6234-9a67-e87c-e9f232195dfd" class="_w-navlink-text">
                          <div data-w-id="2e64ae65-6234-9a67-e87c-e9f232195dfe" class="navlink-text">SERIA</div>
                        </div>
                      </div>
                    </div>
                  </a><a href="/podlist/KB/1/10" class="c-navlinks w-inline-block">
                    <div class="_w-navlinks">
                      <div class="c-navlink-text">
                        <div data-w-id="2e64ae65-6234-9a67-e87c-e9f232195e03" class="_w-navlink-text">
                          <div data-w-id="2e64ae65-6234-9a67-e87c-e9f232195e04" class="navlink-text">KB</div>
                        </div>
                      </div>
                    </div>
                  </a><a href="/podlist/TEMB/1/10" class="c-navlinks w-inline-block">
                    <div class="_w-navlinks">
                      <div class="c-navlink-text">
                        <div data-w-id="2e64ae65-6234-9a67-e87c-e9f232195e09" class="_w-navlink-text">
                          <div data-w-id="2e64ae65-6234-9a67-e87c-e9f232195e0a" class="navlink-text">TEMBURONG</div>
                        </div>
                      </div>
                    </div>
                  </a></nav>
              </div>
            </nav>
          </div>
        </div>
        <div class="c-side-navlink">
          <div data-hover="false" data-delay="0" class="w-dropdown">
            <div class="dropdown-toggle w-dropdown-toggle">
              <div class="icon-8 w-icon-dropdown-toggle"></div>
              <div class="_w-navlinks">
                <div class="c-navlink-icon"><img src="https://uploads-ssl.webflow.com/61fb4a164eca130338cafeaa/6269f5fd33f24daba012fa33_itemin.png" loading="lazy" width="36" alt="" /></div>
                <div class="c-navlink-text">
                  <div data-w-id="76789d62-715e-c4f3-de09-8dd0d8d82911" class="_w-navlink-text">
                    <div data-w-id="76789d62-715e-c4f3-de09-8dd0d8d82912" class="navlink-text">Item In</div>
                  </div>
                </div>
              </div>
            </div>
            <nav class="dropdown-list-5 w-dropdown-list"><a href="/itemin/zalora" class="c-navlinks w-inline-block">
                <div class="_w-navlinks">
                  <div class="c-navlink-text">
                    <div data-w-id="76789d62-715e-c4f3-de09-8dd0d8d82918" class="_w-navlink-text">
                      <div data-w-id="76789d62-715e-c4f3-de09-8dd0d8d82919" class="navlink-text">ZALORA</div>
                    </div>
                  </div>
                </div>
              </a><a href="/itemin/pharmacy" class="c-navlinks w-inline-block">
                <div class="_w-navlinks">
                  <div class="c-navlink-text">
                    <div data-w-id="76789d62-715e-c4f3-de09-8dd0d8d8291e" class="_w-navlink-text">
                      <div data-w-id="76789d62-715e-c4f3-de09-8dd0d8d8291f" class="navlink-text">PHARMACY</div>
                    </div>
                  </div>
                </div>
              </a><a href="/itemin/grp" class="c-navlinks w-inline-block">
                <div class="_w-navlinks">
                  <div class="c-navlink-text">
                    <div data-w-id="76789d62-715e-c4f3-de09-8dd0d8d82924" class="_w-navlink-text">
                      <div data-w-id="76789d62-715e-c4f3-de09-8dd0d8d82925" class="navlink-text">GRP</div>
                    </div>
                  </div>
                </div>
              </a></nav>
          </div>
        </div>
        <div class="c-side-navlink">
          <div data-hover="false" data-delay="0" class="w-dropdown">
            <div class="dropdown-toggle w-dropdown-toggle">
              <div class="icon-8 w-icon-dropdown-toggle"></div>
              <div class="_w-navlinks">
                <div class="c-navlink-icon"><img src="https://uploads-ssl.webflow.com/61fb4a164eca130338cafeaa/6269f064603b1353576af640_itemout.png" loading="lazy" width="36" alt="" /></div>
                <div class="c-navlink-text">
                  <div data-w-id="64df9311-4db0-073f-f696-0de7b8aaf6f7" class="_w-navlink-text">
                    <div data-w-id="64df9311-4db0-073f-f696-0de7b8aaf6f8" class="navlink-text">Item Out</div>
                  </div>
                </div>
              </div>
            </div>
            <nav class="dropdown-list-5 w-dropdown-list"><a href="/itemout" class="c-navlinks w-inline-block">
                <div class="_w-navlinks">
                  <div class="c-navlink-text">
                    <div data-w-id="64df9311-4db0-073f-f696-0de7b8aaf6fe" class="_w-navlink-text">
                      <div data-w-id="64df9311-4db0-073f-f696-0de7b8aaf6ff" class="navlink-text">ZALORA / PHARMACY</div>
                    </div>
                  </div>
                </div>
              </a><a href="/itemout/grp" class="c-navlinks w-inline-block">
                <div class="_w-navlinks">
                  <div class="c-navlink-text">
                    <div data-w-id="64df9311-4db0-073f-f696-0de7b8aaf704" class="_w-navlink-text">
                      <div data-w-id="64df9311-4db0-073f-f696-0de7b8aaf705" class="navlink-text">GRP</div>
                    </div>
                  </div>
                </div>
              </a></nav>
          </div>
        </div>
        <div class="c-side-navlink"><a href="/pod" class="c-navlinks w-inline-block">
            <div class="_w-navlinks">
              <div class="c-navlink-icon"><img src="https://uploads-ssl.webflow.com/61fb4a164eca130338cafeaa/6269f69d35f0520e89a16fe6_pod.png" loading="lazy" width="37" alt="" /></div>
              <div class="c-navlink-text">
                <div data-w-id="2e64ae65-6234-9a67-e87c-e9f232195e39" class="_w-navlink-text">
                  <div data-w-id="2e64ae65-6234-9a67-e87c-e9f232195e3a" class="navlink-text">POD</div>
                </div>
              </div>
            </div>
          </a></div>
        <div class="c-side-navlink">
          <div data-hover="false" data-delay="0" class="w-dropdown">
            <div class="dropdown-toggle w-dropdown-toggle">
              <div class="icon-8 w-icon-dropdown-toggle"></div>
              <div class="_w-navlinks">
                <div class="c-navlink-icon"><img src="https://uploads-ssl.webflow.com/61fb4a164eca130338cafeaa/6269f70f8453501ba9341b39_self%20collect.png" loading="lazy" width="36" alt="" /></div>
                <div class="c-navlink-text">
                  <div data-w-id="526e2fd6-be04-0945-8437-e1236fb50491" class="_w-navlink-text">
                    <div data-w-id="526e2fd6-be04-0945-8437-e1236fb50492" class="navlink-text">Self Collect</div>
                  </div>
                </div>
              </div>
            </div>
            <nav class="dropdown-list-5 w-dropdown-list"><a href="/selfCollect" class="c-navlinks w-inline-block">
                <div class="_w-navlinks">
                  <div class="c-navlink-text">
                    <div data-w-id="526e2fd6-be04-0945-8437-e1236fb50498" class="_w-navlink-text">
                      <div data-w-id="526e2fd6-be04-0945-8437-e1236fb50499" class="navlink-text">ZALORA / PHARMACY</div>
                    </div>
                  </div>
                </div>
              </a><a href="/selfCollect/grp" class="c-navlinks w-inline-block">
                <div class="_w-navlinks">
                  <div class="c-navlink-text">
                    <div data-w-id="526e2fd6-be04-0945-8437-e1236fb5049e" class="_w-navlink-text">
                      <div data-w-id="526e2fd6-be04-0945-8437-e1236fb5049f" class="navlink-text">GRP</div>
                    </div>
                  </div>
                </div>
              </a></nav>
          </div>
        </div>
        <div class="c-side-navlink"><a href="/reentry" class="c-navlinks w-inline-block">
            <div class="_w-navlinks">
              <div class="c-navlink-icon"><img src="https://uploads-ssl.webflow.com/61fb4a164eca130338cafeaa/6269f702bd698f59472ce666_reentry.png" loading="lazy" width="36" alt="" /></div>
              <div class="c-navlink-text">
                <div data-w-id="2e64ae65-6234-9a67-e87c-e9f232195e4b" class="_w-navlink-text">
                  <div data-w-id="2e64ae65-6234-9a67-e87c-e9f232195e4c" class="navlink-text">Re-Entry</div>
                </div>
              </div>
            </div>
          </a></div>
        <div class="c-side-navlink"><a href="/return" class="c-navlinks w-inline-block">
            <div class="_w-navlinks">
              <div class="c-navlink-icon"><img src="https://uploads-ssl.webflow.com/61fb4a164eca130338cafeaa/6269f7811cd413283f4aba9b_return.png" loading="lazy" width="36" alt="" /></div>
              <div class="c-navlink-text">
                <div data-w-id="2e64ae65-6234-9a67-e87c-e9f232195e54" class="_w-navlink-text">
                  <div data-w-id="2e64ae65-6234-9a67-e87c-e9f232195e55" class="navlink-text">Return</div>
                </div>
              </div>
            </div>
          </a></div>
        <div class="c-side-navlink"><a href="/register" class="c-navlinks w-inline-block">
            <div class="_w-navlinks">
              <div class="c-navlink-icon"><img src="https://uploads-ssl.webflow.com/61fb4a164eca130338cafeaa/626c97b3d01540166fe7ef65_register.png" loading="lazy" width="31" alt="" /></div>
              <div class="c-navlink-text">
                <div data-w-id="2e64ae65-6234-9a67-e87c-e9f232195e5d" class="_w-navlink-text">
                  <div data-w-id="2e64ae65-6234-9a67-e87c-e9f232195e5e" class="navlink-text">Register</div>
                </div>
              </div>
            </div>
          </a></div>
      </div>
      <div class="c-nav-divider">
        <div class="nav-divider"></div>
      </div>
      <div class="c-nav-extra-links">
        <div class="c-navlinks-item"><a href="#" class="c-navlinks w-inline-block">
            <div class="_w-navlinks">
              <div class="c-navlink-icon"><img src="https://uploads-ssl.webflow.com/61fb4a164eca130338cafeaa/6258e61ea5d8ce63786b9563_profile-user.svg" loading="lazy" alt="" class="navlink-icon" /></div>
              <div class="c-navlink-text">
                <div data-w-id="2e64ae65-6234-9a67-e87c-e9f232195e69" class="_w-navlink-text">
                  <div data-w-id="2e64ae65-6234-9a67-e87c-e9f232195e6a" class="navlink-text"><%= name %></div>
                </div>
              </div>
            </div>
          </a></div>
        <div class="c-navlinks-item"><a href="#" class="c-navlinks w-inline-block">
            <div class="_w-navlinks">
              <div class="c-navlink-text">
                <div data-w-id="2e64ae65-6234-9a67-e87c-e9f232195e70" class="_w-navlink-text">
                  <div data-w-id="2e64ae65-6234-9a67-e87c-e9f232195e71" class="navlink-text"><%= icNumber %> <%= position %></div>
                  <div data-w-id="2e64ae65-6234-9a67-e87c-e9f232195e73" class="navlink-text"><%= contact %> | <%= office %></div>
                </div>
              </div>
            </div>
          </a></div>
        <div class="c-navlinks-item"><a href="#" class="c-navlinks w-inline-block">
            <div class="_w-navlinks">
              <div class="c-navlink-icon"><img src="https://uploads-ssl.webflow.com/61fb4a164eca130338cafeaa/626a1e243107cb9baf02aeec_log%20out.png" loading="lazy" width="25" alt="" /></div>
              <div class="c-navlink-text">
                <div data-w-id="2e64ae65-6234-9a67-e87c-e9f232195e7b" class="_w-navlink-text">
                  <div data-w-id="2e64ae65-6234-9a67-e87c-e9f232195e7c" class="navlink-text">Log Out</div>
                </div>
              </div>
            </div>
          </a></div>
      </div>
    </nav>
  </div>
</div>