<div data-collapse="small" data-animation="default" data-duration="400" data-easing="ease" data-easing2="ease" role="banner" class="c-sidenavbar w-nav">
    <div data-w-id="8c084199-ff50-89c3-194d-69afb75cab41" class="c-sidenavbar-container w-container">
      <div class="c-menu-controls">
        <div class="c-menu-btn w-nav-button">
          <div class="w-icon-nav-menu"></div>
        </div>
      </div>
      <nav role="navigation" class="c-side-navmenu w-nav-menu">
        <div class="ci-side-navlinks">
          <div class="c-side-navlink">
            <div data-hover="false" data-delay="0" class="w-dropdown">
              <div class="dropdown-toggle w-dropdown-toggle">
                <div class="icon-8 w-icon-dropdown-toggle"></div>
                <div class="_w-navlinks">
                  <div class="c-navlink-icon"><img src="https://uploads-ssl.webflow.com/61fb4a164eca130338cafeaa/6269f5eebd2492591f7bf040_item%20list.png" loading="lazy" width="36" alt="" /></div>
                  <div class="c-navlink-text">
                    <div data-w-id="8c084199-ff50-89c3-194d-69afb75cab4f" class="_w-navlink-text">
                      <div data-w-id="8c084199-ff50-89c3-194d-69afb75cab50" class="navlink-text">Item List</div>
                    </div>
                  </div>
                </div>
              </div>
              <nav class="dropdown-list-5 w-dropdown-list"><a href="/list/warehouse/ZALORA/B1/1/10/<%= id %>" class="c-navlinks w-inline-block">
                  <div class="_w-navlinks">
                    <div class="c-navlink-text">
                      <div data-w-id="8c084199-ff50-89c3-194d-69afb75cab56" class="_w-navlink-text">
                        <div data-w-id="8c084199-ff50-89c3-194d-69afb75cab57" class="navlink-text">ZALORA</div>
                      </div>
                    </div>
                  </div>
                </a><a href="/list/warehouse/PHARMACY/B1/1/10/<%= id %>" class="c-navlinks w-inline-block">
                  <div class="_w-navlinks">
                    <div class="c-navlink-text">
                      <div data-w-id="8c084199-ff50-89c3-194d-69afb75cab5c" class="_w-navlink-text">
                        <div data-w-id="8c084199-ff50-89c3-194d-69afb75cab5d" class="navlink-text">PHARMACY</div>
                      </div>
                    </div>
                  </div>
                </a><a href="/list/warehouse/GRP/B1/1/10/<%= id %>" class="c-navlinks w-inline-block">
                  <div class="_w-navlinks">
                    <div class="c-navlink-text">
                      <div data-w-id="8c084199-ff50-89c3-194d-69afb75cab62" class="_w-navlink-text">
                        <div data-w-id="8c084199-ff50-89c3-194d-69afb75cab63" class="navlink-text">GRP</div>
                      </div>
                    </div>
                  </div>
                </a></nav>
            </div>
          </div>
          <div class="c-side-navlink">
            <div data-hover="false" data-delay="0" class="w-dropdown">
              <div class="dropdown-toggle w-dropdown-toggle">
                <div class="icon-8 w-icon-dropdown-toggle"></div>
                <div class="_w-navlinks">
                  <div class="c-navlink-icon"><img src="https://uploads-ssl.webflow.com/61fb4a164eca130338cafeaa/6269f5fd33f24daba012fa33_itemin.png" loading="lazy" width="36" alt="" /></div>
                  <div class="c-navlink-text">
                    <div data-w-id="8c084199-ff50-89c3-194d-69afb75cabd0" class="_w-navlink-text">
                      <div data-w-id="8c084199-ff50-89c3-194d-69afb75cabd1" class="navlink-text">Item In</div>
                    </div>
                  </div>
                </div>
              </div>
              <nav class="dropdown-list-5 w-dropdown-list"><a href="/itemin/zalora/<%= id %>" class="c-navlinks w-inline-block">
                  <div class="_w-navlinks">
                    <div class="c-navlink-text">
                      <div data-w-id="8c084199-ff50-89c3-194d-69afb75cabd7" class="_w-navlink-text">
                        <div data-w-id="8c084199-ff50-89c3-194d-69afb75cabd8" class="navlink-text">ZALORA</div>
                      </div>
                    </div>
                  </div>
                </a><a href="/itemin/pharmacy/<%= id %>" class="c-navlinks w-inline-block">
                  <div class="_w-navlinks">
                    <div class="c-navlink-text">
                      <div data-w-id="8c084199-ff50-89c3-194d-69afb75cabdd" class="_w-navlink-text">
                        <div data-w-id="8c084199-ff50-89c3-194d-69afb75cabde" class="navlink-text">PHARMACY</div>
                      </div>
                    </div>
                  </div>
                </a><a href="/itemin/grp/<%= id %>" class="c-navlinks w-inline-block">
                  <div class="_w-navlinks">
                    <div class="c-navlink-text">
                      <div data-w-id="8c084199-ff50-89c3-194d-69afb75cabe3" class="_w-navlink-text">
                        <div data-w-id="8c084199-ff50-89c3-194d-69afb75cabe4" class="navlink-text">GRP</div>
                      </div>
                    </div>
                  </div>
                </a></nav>
            </div>
          </div>
          <div class="c-side-navlink"><a href="/itemout/<%= id %>" class="c-navlinks w-inline-block">
              <div class="_w-navlinks">
                <div class="c-navlink-icon"><img src="https://uploads-ssl.webflow.com/61fb4a164eca130338cafeaa/6269f064603b1353576af640_itemout.png" loading="lazy" width="37" alt="" /></div>
                <div class="c-navlink-text">
                  <div data-w-id="8c084199-ff50-89c3-194d-69afb75cabec" class="_w-navlink-text">
                    <div data-w-id="8c084199-ff50-89c3-194d-69afb75cabed" class="navlink-text">Item Out</div>
                  </div>
                </div>
              </div>
            </a></div>
          <div class="c-side-navlink"><a href="/selfCollect/<%= id %>" class="c-navlinks w-inline-block">
              <div class="_w-navlinks">
                <div class="c-navlink-icon"><img src="https://uploads-ssl.webflow.com/61fb4a164eca130338cafeaa/6269f70f8453501ba9341b39_self%20collect.png" loading="lazy" width="36" alt="" /></div>
                <div class="c-navlink-text">
                  <div data-w-id="8c084199-ff50-89c3-194d-69afb75cabfe" class="_w-navlink-text">
                    <div data-w-id="8c084199-ff50-89c3-194d-69afb75cabff" class="navlink-text">Self Collect</div>
                  </div>
                </div>
              </div>
            </a></div>
          <div class="c-side-navlink"><a href="/reentry/<%= id %>" class="c-navlinks w-inline-block">
              <div class="_w-navlinks">
                <div class="c-navlink-icon"><img src="https://uploads-ssl.webflow.com/61fb4a164eca130338cafeaa/6269f702bd698f59472ce666_reentry.png" loading="lazy" width="36" alt="" /></div>
                <div class="c-navlink-text">
                  <div data-w-id="8c084199-ff50-89c3-194d-69afb75cac07" class="_w-navlink-text">
                    <div data-w-id="8c084199-ff50-89c3-194d-69afb75cac08" class="navlink-text">Re-Entry</div>
                  </div>
                </div>
              </div>
            </a></div>
          <div class="c-side-navlink"><a href="/return/<%= id %>" class="c-navlinks w-inline-block">
              <div class="_w-navlinks">
                <div class="c-navlink-icon"><img src="https://uploads-ssl.webflow.com/61fb4a164eca130338cafeaa/6269f7811cd413283f4aba9b_return.png" loading="lazy" width="36" alt="" /></div>
                <div class="c-navlink-text">
                  <div data-w-id="8c084199-ff50-89c3-194d-69afb75cac10" class="_w-navlink-text">
                    <div data-w-id="8c084199-ff50-89c3-194d-69afb75cac11" class="navlink-text">Return</div>
                  </div>
                </div>
              </div>
            </a></div>
        </div>
        <div class="c-nav-divider">
          <div class="nav-divider"></div>
        </div>
        <div class="c-nav-extra-links">
          <div class="c-navlinks-item"><a href="#" class="c-navlinks w-inline-block">
              <div class="_w-navlinks">
                <div class="c-navlink-icon"><img src="https://uploads-ssl.webflow.com/61fb4a164eca130338cafeaa/6258e61ea5d8ce63786b9563_profile-user.svg" loading="lazy" alt="" class="navlink-icon" /></div>
                <div class="c-navlink-text">
                  <div data-w-id="8c084199-ff50-89c3-194d-69afb75cac25" class="_w-navlink-text">
                    <div data-w-id="8c084199-ff50-89c3-194d-69afb75cac26" class="navlink-text"><%= name %></div>
                  </div>
                </div>
              </div>
            </a></div>
          <div class="c-navlinks-item"><a href="#" class="c-navlinks w-inline-block">
              <div class="_w-navlinks">
                <div class="c-navlink-text">
                  <div data-w-id="8c084199-ff50-89c3-194d-69afb75cac2c" class="_w-navlink-text">
                    <div data-w-id="8c084199-ff50-89c3-194d-69afb75cac2d" class="navlink-text"><%= icNumber %> | <%= position %></div>
                    <div data-w-id="8c084199-ff50-89c3-194d-69afb75cac2f" class="navlink-text"><%= contact %> | <%= office %></div>
                  </div>
                </div>
              </div>
            </a></div>
          <div class="c-navlinks-item"><a href="#" class="c-navlinks w-inline-block">
              <div class="_w-navlinks">
                <div class="c-navlink-icon"><img src="https://uploads-ssl.webflow.com/61fb4a164eca130338cafeaa/626a1e243107cb9baf02aeec_log%20out.png" loading="lazy" width="25" alt="" /></div>
                <div class="c-navlink-text">
                  <div data-w-id="8c084199-ff50-89c3-194d-69afb75cac37" class="_w-navlink-text">
                    <div data-w-id="8c084199-ff50-89c3-194d-69afb75cac38" class="navlink-text">Log Out</div>
                  </div>
                </div>
              </div>
            </a></div>
        </div>
      </nav>
    </div>
  </div>